<div class="row">
  <div class="col">
    <h2>Buscador Pais:</h2>
    <hr />
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input
        type="text"
        id="buscador"
        name="buscador"
        placeholder="Ingresa el nombre del pais"
        class="form-control"
        [(ngModel)]="termino"
      />
    </form>
  </div>
</div>
<hr />
<div *ngIf="estado" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}
</div>
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of pais">
      <td>1</td>
      <td>
        <img class="small-flag" />
      </td>
      <td>Colombia</td>
      <td>50.000.000</td>
      <td></td>
    </tbody>
  </table>
</div>
